* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #fefae0;
  margin-top:0;
}

header {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;

  background-color: aliceblue;
  padding-left: 15px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  border: 1px solid;
  .navigation {
    .c {
      color: white;

      font-size: 1em;
      font-weight: 300;
    }

    .c:link {
      text-decoration: none;
      color: white;
      background-color: hsl(120, 100%, 30%);

      display: inline-block;
      margin: 10px;
      padding: 10px;

      border-radius: 15px;
    }
  }
}

.main-content {
  
  border:1px solid black;
  max-width: 700px;
  margin: auto;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 40px;

  #home {
    max-width: 600px;
    
    border:1px solid;
    /* width: 70%; */
    /* width:100%; */
    
    display: flex;
    
    align-items: center;
    /* gap:30px; */
    p {
      width: 100%;
    }
    .profile-img {
      margin: 10px;
    }
    
  }
  @media screen and (max-width:500px){
    #home{
      flex-direction: column;
      text-align: center;
     
      
    }
    
  }

  .profile-img {
    
    
   min-width: 200px;
    height: 250px;
    

    img {
      border-radius:50%;
      background-color: aliceblue;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  #about {
    padding: 15px 0px;
    
    text-align: justify;
    h2 {
      margin-bottom: 10px;
    }
    p {
      line-height: 30px;
    }
  }

  #qual {
    padding: 15px 0px;
    h2 {
      margin-bottom: 15px;
    }

    .college-info {
      width: 60%;
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  #skills {
    padding: 15px 0px;
    ul {
      padding: 15px;
      margin-left: 10px;

      li {
        padding: 3px;
      }
    }
  }
  #pro {
    padding: 15px 0px;
    width: 100%;
    h2 {
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 5px;
    }

    .project {
      padding: 10px 0px;

      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px;

      justify-content: center;
      align-items: center;

      .p {
        
        p{
          padding: 2px;
        }
        width:300px;
        max-width:300px;
        height:300px;
        min-width:50px;
        img {
          
          width: 100%;
          height:100%;
          
          border: 1px solid black;
          border-radius: 10px;

          max-width: 300px;
          max-height: auto;
          object-fit: cover;
        }
      }
    }
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.51);
  padding: 10px;

  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;

  #k {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
      margin: 2px;
    }
    p {
      display: inline;
    }

    img {
      width: 100%;
      max-width: 30px;
      object-fit: cover;
    }
  }
}
